In [1]:
import pandas as pd

In [2]:
resultat = pd.read_csv("TV7Jours.csv")
#Data frame par cha√Æne
D01 = resultat.loc[resultat['Chaine']=="TF1",:]
D02 = resultat.loc[resultat['Chaine']=="France 3",:]
D03 = resultat.loc[resultat['Chaine']=="M6",:]
D04 = resultat.loc[resultat['Chaine']=="France 2",:]
D05 = resultat.loc[resultat['Chaine']=="TMC",:]
D06 = resultat.loc[resultat['Chaine']=="France 5",:]
D07 = resultat.loc[resultat['Chaine']=="C8",:]
D08 = resultat.loc[resultat['Chaine']=="W9",:]
D09 = resultat.loc[resultat['Chaine']=="TFX",:]
D10 = resultat.loc[resultat['Chaine']=="Arte",:]
D11 = resultat.loc[resultat['Chaine']=="France 4",:]
D12 = resultat.loc[resultat['Chaine']=="NRJ 12",:]
D13 = resultat.loc[resultat['Chaine']=="C Star",:]
D14 = resultat.loc[resultat['Chaine']=="France O",:]
D15 = resultat.loc[resultat['Chaine']=="Gulli",:]
D16 = resultat.loc[resultat['Chaine']=="RMC Story",:]
D17 = resultat.loc[resultat['Chaine']=="TF1 Series",:]
D18 = resultat.loc[resultat['Chaine']=="RMC Decouverte",:]
D19 = resultat.loc[resultat['Chaine']=="6ter",:]

In [56]:
fusion = pd.merge(D01,D04,on="Date")
fusion = pd.merge(fusion,D03,on="Date")

In [57]:
fusion.rename(columns={'Part_de_marche_x': 'Pdm_TF1',
                       'Part_de_marche_y': 'Pdm_Fr2',
                       'Part_de_marche': 'Pdm_M6'},
              inplace=True)

In [58]:
data = fusion.drop(fusion.columns[[0,2,4,5,7,8]], axis='columns')
data.head()

                Date Pdm_TF1 Pdm_Fr2 Pdm_M6
0  02 septembre 2014    31.7    11.6   12.4
1  03 septembre 2014    27.8    12.0   11.8
2  04 septembre 2014    28.2    10.2   10.9
3  07 septembre 2014    23.2    11.6   15.5
4  08 septembre 2014    20.6    18.7   26.8

In [59]:
data.tail()

                  Date Pdm_TF1 Pdm_Fr2 Pdm_M6
1885  21 novembre 2019    29.2    12.1    7.8
1886  22 novembre 2019    24.1    19.6    9.5
1887  23 novembre 2019    16.1    12.6   10.7
1888  24 novembre 2019    24.2    10.1    8.9
1889  25 novembre 2019    27.0     9.6   14.8